<h2>View Role component</h2>
<button routerLink="/">Back to list</button>

<button [routerLink]="router.url + '/edit'">Edit role</button>

<button [routerLink]="router.url + '/clone'">Clone role</button>
